.algolia-autocomplete {
    width: 80%;
    max-width: 710px;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
    min-height: 30px;
    text-indent: 10px;
}
.aa-input {
    border-radius: 20px;
    background: url(../images/Algolia_logo_bg-white.png) no-repeat;
    background-size: 10%;
    background-position: 98% 50%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

.algolia-search {
  text-align: center; 
  width:100%; 
  margin-bottom:15px
}

@media (min-width: 650px) {
  .algolia-search {
    margin-top:-15px; 
  }
}

.algolia-search #search-input{
  background-color: white;
}